# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools ||
| -------------| ------ |
| Jupyter Notebook|
| VS code|
| Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

***Objectives:***
- Python
- R
- C++

## Author
Rana Muhammad Talha